<!--
 Name: Alex Pohorylo
 Date: 11/17/2020
 This is the index.html page for assignment-4 in CS 416.
-->
{% extends "tasks/../hw4/base.html" %}
{% block body %}
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="input-group mb-3">
                <input type="text" name="addItem" class="form-control" placeholder="Add Tasks" aria-label="Add Tasks"
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary bg-primary text-white" type="submit"
                            id="button-add">ADD
                    </button>
                </div>
            </div>
        </div>
    </form>
    {% for task in tasks %}
        <div class="row border justify-content-between rounded-lg spacer {% if task.completed %} gray_row {% else %} white_row {% endif %}">
            <div class="col-6">
                <div class="row justify-content-start">
                    <p class="task_text {% if task.completed %} strike {% endif %}">{{ task.task }}</p>
                </div>
                <div class="row justify-content-start">
                    <p class="date_text {% if task.completed %} strike {% endif %}">Created
                        at: {{ task.created_at }}</p>
                </div>
            </div>
            <div class="col-6-md">
                <div class="row  justify-content-md-end">
                    {% if not task.completed %}
                        <form action="{% url 'complete_task' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="completeItem" value="{{ task.task }}" class="btn btn-success ml-3">Completed
                            </button>
                        </form>
                    {% endif %}
                    <form action="{% url 'update' %}" method="GET">
                        <button type="submit" name="updateItem" value="{{ task.task }}" class="btn btn-primary mx-1">Update</button>
                    </form>
                    <form action="{% url 'delete' %}" method="GET">
                        <button type="submit" name="deleteItem" value="{{ task.task }}" class="btn btn-danger mr-3">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}